.content-wrapper {
    background-color: #f3f3f3;
}

.layanan-card {
    border: none;
    border-radius: 12px;
    max-width: 1000px;
    margin: 10px auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.18);
}

.layanan-card .card-body {
    padding: 30px 40px !important;
}

.layanan-image {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    border-radius: 4px;
}

.layanan-title {
    color: #0090d0 !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    margin-bottom: 25px !important;
}

.layanan-title-header {
    color: black !important;
    font-size: 40px !important;
    font-weight: 700px !important;
    padding-top: 10px;
    margin-top: 60px;
}

.layanan-isi {
    font-size: 20px;
    color: #000;
    line-height: 1.7;
    margin: 20px 0;
}